<form method="post" action="index.php?module=question&func={if $data.id}update{else}insert{/if}">
    <fieldset>
        <legend>{if $data.id}Edit{else}Add{/if} Question</legend>
        <table border="0" cellspacing="2" cellpadding="2">
            <tr>
                <td><b>Language:</b></td>
                <td>
                    <select class="form-control"  name="comp[id_language]" onchange="getcategory(this.value);">
                        {html_options options=$language selected=$data.id_language}
                    </select>
                </td>
            </tr>
            
            <tr>
                <td><b>Category:</b></td>
                <td>
                    <select class="form-control" id="category" name="comp[category]" onchange="getsubcategory(this.value);">
                        {html_options options=$category selected=$data.id_category}
                    </select>
                </td>
            </tr>
            
            <tr>
                <td><b>Sub-Category:</b></td>
                <td>
                    <select class="form-control" id="subcategory" name="comp[id_subcategory]">
                        {html_options options=$subcategory selected=$data.id_subcategory}
                    </select>
                </td>
            </tr>
            <tr>
                <td><b>Question:</b></td>
                <td><input type="text" required name="comp[question]" class="form-control" value="{$data.question}" size="80"/></td>
            </tr>
            <tr>
                <td><b>Option 1:</b></td>
                <td><input type="text" required name="comp[option_1]" class="form-control" value="{$data.option_1}" size="40"/></td>
            </tr>
            <tr>
                <td><b>Option 2:</b></td>
                <td><input type="text" required name="comp[option_2]" class="form-control" value="{$data.option_2}" size="40"/></td>
            </tr>
            <tr>
                <td><b>Option 3:</b></td>
                <td><input type="text" required name="comp[option_3]" class="form-control" value="{$data.option_3}" size="40"/></td>
            </tr>
            <tr>
                <td><b>Option 4:</b></td>
                <td><input type="text" required name="comp[option_4]" class="form-control" value="{$data.option_4}" size="40"/></td>
            </tr>
            <tr>
                <td><b>Answer:</b></td>
                <td><input type="text" required name="comp[answer]" class="form-control" value="{$data.answer}" size="4"/></td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input type="hidden" id="hide" name="id" value="{$data.id}">
                    <input class="btn btn-primary" type="submit" id="submit" value="Save" />
                    <input class="btn btn-danger" type="reset" name="res" value="Reset"/>
                </td>
            </tr>
        </table>
    </fieldset>
</form>

<script>
function getcategory(lang) {
    $("#category").empty();
    $("#subcategory").empty();
    $.post( "index.php?module=question&func=category&id_language="+lang, function( data ) {
        jsondata = JSON.parse(data);
        for (i in jsondata) {
            $('#category').append($('<option>', { value : i }).text(jsondata[i]));
        }
    });
}
function getsubcategory(cat) {
    $("#subcategory").empty();
    $.post( "index.php?module=question&func=subcategory&id_category="+cat, function( data ) {
        jsondata = JSON.parse(data);
        for (i in jsondata) {
            $('#subcategory').append($('<option>', { value : i }).text(jsondata[i]));
        }
    });
}
</script>