<form action="index.php?module=question&func=uploadsave" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Upload Question</legend>
        <table border="0" cellspacing="2" cellpadding="2">
            <tr><td><b>Language:</b></td>
                <td>
                    <select class="form-control" id="id_language" required name="comp[id_language]" onchange="getcategory(this.value, '');">
                        {html_options options=$language selected=$data.id_language}
                    </select>
                </td>
            </tr>
            <tr><td><b>Category:</b></td>
                <td>
                    <select class="form-control" required id="category" name="comp[id_category]" onchange="getsubcategory(this.value, '');">
                        {html_options options=$category selected=$data.id_category}
                    </select>
                </td>
            </tr>
            <tr><td><b>Sub-Category:</b></td>
                <td>
                    <select class="form-control" required id="subcategory" name="comp[id_subcategory]">
                        {html_options options=$subcategory selected=$data.id_subcategory}
                    </select>
                </td>
            </tr>
            <tr><td><b>Upload:</b></td>
                <td>
                    <input type="file" class="form-control" required name="filename">
                </td>
            </tr>
            <tr><td><b>Format of Excel file:</b></td>
                <td>
                    Question, Option 1, Option 2, Option 3, Option 4, Answar (Number)
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input class="btn btn-primary" type="submit" id="submit" value="Upload" />
                    <input class="btn btn-danger" type="reset" name="res" value="Reset"/>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
<script>
function getcategory(lang, setvalue) {
    console.log("cat", lang);
    $("#category").empty();
    $("#subcategory").empty();
    $.post( "index.php?module=question&func=category&id_language="+lang, function( data ) {
        jsondata = JSON.parse(data);
        for (i in jsondata) {
            if (i==setvalue) {
                $('#category').append($('<option>', { value : i, "selected":"selected" }).text(jsondata[i]));
            } else {
                $('#category').append($('<option>', { value : i }).text(jsondata[i]));
            }
        }
    });
}
function getsubcategory(cat, setvalue) {
    console.log("subcat", cat);
    $("#subcategory").empty();
    $.post( "index.php?module=question&func=subcategory&id_category="+cat, function( data ) {
        jsondata = JSON.parse(data);
        for (i in jsondata) {
            if (i==setvalue) {
                $('#subcategory').append($('<option>', { value : i, "selected":"selected" }).text(jsondata[i]));
            } else {
                $('#subcategory').append($('<option>', { value : i }).text(jsondata[i]));
            }
        }
    });
}
$( document ).ready(function() {
    lan = $("#id_language").val();
    getcategory(lan, "");
});
</script>