<script type="text/javascript" src="{$source}jsmodule/accounts.js?a=1"></script>
<script type="text/javascript" src="{$source}jsmodule/price.js"></script>
<h3>
    {if $data.id_voucher}Edit{else}Add{/if} Voucher
</h3>
{if isset($sdata.date)}
    {$date=$sdata.date}
{else}
    {if $smarty.now|date_format:'%Y-%m-%d'>=$smarty.session.start_date && $smarty.now|date_format:'%Y-%m-%d'<=$smarty.session.end_date}
        {if $smarty.session.current_sale_date}
            {$date=$smarty.session.current_sale_date}
        {else}
            {$date=$smarty.now|date_format:'%Y-%m-%d'}
        {/if}
    {else}
        {$date=$smarty.session.end_date}
    {/if}
{/if}
<form method="post" action="index.php?module=accounts&func={if $data.id_voucher}update{else}insert{/if}" >
    <table>
        <tr>
            <td><b>Date :</b></td>
            <td><input type="date" name="voucher[date]" value="{$date}"/></td>
        </tr>
        <tr>
            <td><b>Voucher No :</b></td>
            <td><input type="text" required name="voucher[no]" id="no" value='{if $data.no}{$data.no}{else}{$nextno+1}{/if}'/><br><span id="msgbox"></span>
            </td>
        </tr>
        <tr>
            <td><b>Debit Account :</b></td>
            <td>
                <input type="text" required name="debit" value='{if $data}{$head[$data.id_party_debit]}{/if}' id="debit" size="70"/>
                <input type="hidden" name="voucher[id_party_debit]" id="id_party_debit" value='{if $data}{$data.id_party_debit}{/if}'>
            </td>
        </tr>
        <tr>
            <td><b>Credit Account :</b></td>
            <td>
                <input type="text" required name="credit" value='{if $data}{$head[$data.id_party_credit]}{/if}' id="credit" size="70"/>
                <input type="hidden" name="voucher[id_party_credit]" id="id_party_credit" value='{if $data}{$data.id_party_credit}{/if}'>
            </td>
        </tr>
        <tr>
            <td><b>Amount :</b></td>
            <td><input class="right" required type="text" name="voucher[total]" id="amt" value='{$data.total|string_format:"%.2f"}'></td>
        </tr>
        <tr>
            <td><b>CHQ/DD/MR :</b></td>
            <td><input type="text" name="voucher[ref1]" value="{$data.ref1}"></td>
        </tr>
        <tr>
            <td><b>Remark :</b></td>
            <td><textarea name="voucher[memo]" cols="80" rows="5">{$data.memo}</textarea></td>
        </tr>
        <tr>
            <td align="center" colspan="2">
                <input type="hidden" id="id_voucher" name="id" value="{$data.id_voucher}" />
                <input class="btn btn-primary" type="submit" value="Save"  id="save" />
            </td>
        </tr>
    </table>
</form>