<h3>
    Party Outstanding<br>
</h3>
<fieldset>
    <form method="post">
        <table>
            <tr>
                <td>As On</td>
                <td><input type="date" id="start_date" name="start_date" value='{$smarty.request.start_date}' /></td>
                <td>Party</td>
                <td><select name="id">
                    <option value="0">- All -</option>
                    {html_options options=$party selected=$smarty.request.id}
                </select></td>
                <td>
                    <input type="submit" value="Go" />
                    <input type="button" class="print" value="Print" />
                    <input type="hidden" id="excelfile" value="Party Outstanding" />
                    <input type="button" class="excel" value="Download" title="Download as Excel" />
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<div class="print_content"
{$smarty.session.cname} {$smarty.session.fyear}<br>
<br>Party Outstanding as on {$smarty.request.start_date|date_format:"%d-%m-%Y"} of : <b>{if $smarty.request.id==0}All Parties{else}{$party[$smarty.request.id]}{/if}</b><br>
<table border="1" id="report">
    <thead>
    <tr>
       	<th>Sl.No.</th><th>Party</th><th>Address</th><th>Date</th><th>Inv.No.</th><th>Bill No.</th><th class="right">Balance</th><th class="right">Days</th>
    </tr>
    </thead>
    <tbody>
    {$total=0}
    {section name=x loop=$data}
    <tr>
        <td>{$smarty.section.x.index_next}</td>
        <td>{$data[x].name}</td>
        <td>{$data[x].address1}</td>
        <td>{$data[x].date|date_format:"%d-%m-%Y"}</td>
        <td>{$data[x].invno}</td>
        <td>{$data[x].bill_no}</td>
        <td class="right">{($data[x].balance)|string_format:"%.2f"}</td>
        <td class="right">{$data[x].days}</td>
        {$total = $total + $data[x].balance}
    </tr>
    {/section}
    </tbody>
    <tfoot>
    <tr>
        <th colspan="6">Total</th>
        <th class="right">{$total|string_format:"%.2f"}</th>
    </tr>
    </tfoot>
</table>
</div>