<h3>
    Sales Prefix Listing<hr>
</h3>
<table width="100%">
    <thead> 
        <tr>
            <th colspan="2">
                <select id="list_status" onchange="update_listing('series', this.value);">
                    {html_options options=$ini.status_all selected=$smarty.request.status}
                </select>
            </th>
            <th><a class="btn btn-primary"  href="index.php?module=series&func=edit"><i class="fa fa-plus"></i></a></th>
        </tr>
        <tr>
            <th>Name</th><th>Status</th><th>&nbsp;</th>
        </tr>
    </thead>
    {foreach from=$series item=mod}
    <tr>
        <td>{$mod.name}</td>
        <td><select onchange="update_status('series', '{$mod.id}', this.value,$('#list_status').val());">
                {html_options options=$ini.status selected=$mod.status}
            </select></td>
        <td>
            <a class="btn btn-primary"  href="index.php?module=series&func=edit&id={$mod.id}"><i class="fa fa-edit"></i></a>
            <a class="btn btn-primary"  href="index.php?module=series&func=delete&id={$mod.id}" onclick="return confirm('Do you want to delete?');"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
    {/foreach}
</table>