<form method="post" action="index.php?module=category&func={if $data.id_category}update{else}insert{/if}">
    <fieldset>
        <legend>{if $data.id_category}Edit{else}Add{/if} Category</legend>
        <table border="0" cellspacing="2" cellpadding="2">
            <tr>
                <td><b>English Name:</b></td>
                <td><input type="text" required name="comp[name]" class="form-control" value="{$data.name}" size="40"/></td>
            </tr>
            <tr>
                <td><b>Language:</b></td>
                <td>
                    <select class="form-control"  name="comp[id_language]">
                        {html_options options=$language selected=$data.id_language}
                    </select>
                </td>
            </tr>
            <tr>
                <td><b>Regional Name:</b></td>
                <td><input type="text" required name="comp[regional_name]" class="form-control" value="{$data.regional_name}" size="40"/></td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input type="hidden" id="hide" name="id" value="{$data.id_category}">
                    <input class="btn btn-primary" type="submit" id="submit" value="Save" />
                    <input class="btn btn-danger" type="reset" name="res" value="Reset"/>
                </td>
            </tr>
        </table>
    </fieldset>
</form>