<form method="post" action="index.php?module=language&func={if $data.id_language}update{else}insert{/if}">
    <fieldset>
        <legend>{if $data.id_language}Edit{else}Add{/if} language</legend>
        <table border="0" cellspacing="2" cellpadding="2">
            <tr>
                <td><b>English Name:</b></td>
                <td><input type="text" required name="comp[english_name]" class="form-control" value="{$data.english_name}" size="40"/></td>
            </tr>
            <tr>
                <td><b>Regional Name:</b></td>
                <td><input type="text" required name="comp[regional_name]" class="form-control" value="{$data.regional_name}" size="40"/></td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input type="hidden" id="hide" name="id" value="{$data.id_language}">
                    <input class="btn btn-primary" type="submit" id="submit" value="Save" />
                    <input class="btn btn-danger" type="reset" name="res" value="Reset"/>
                </td>
            </tr>
        </table>
    </fieldset>
</form>