<h3>
    {if $data.id_party}Edit{else}Add{/if} Account Master<hr>
</h3>
<form method="post" action="index.php?module=party&func={if $data.id_party}update{else}insert{/if}">
    <table>
        
        <tr>
            <td><b>Name:</b></td>
            <td><input class="form-control"  type="text" name="entry[name]" required value="{$data.name}"/></td>
        </tr>
        <tr>
            <td><b>Address:</b></td>
            <td><input class="form-control"  type="text" name="entry[address1]" required value="{$data.address1}"/></td>
        </tr>
        <tr>
            <td><b>Address1:</b></td>
            <td><input class="form-control"  type="text" name="entry[address2]" required value="{$data.address2}"/></td>
        </tr>                            <tr>
            <td><b>Group:</b></td>
            <td><select name="entry[id_group]" id="group">{html_options options=$group selected=$data.id_group}</select></td>
        </tr>
        <tr>
            <td><b>Opening Balance:</b></td>
            <td><input class="form-control right"  type="text" name="entry[opening_balance]" value="{$data.opening_balance}"/></td>
            <td><select name="entry[otype]" >
                {html_options  options=$ini.balance_type selected=$data.otype } 
            </select></td>
        </tr>
        <tr>
            <td><b>State Code:</b></td>
            <td><input class="form-control"  type="text" name="entry[statecode]" required value="{$data.statecode}"/></td>
        </tr>
        <tr>
            <td><b>State:</b></td>
            <td><input class="form-control"  type="text" name="entry[state]" required value="{$data.state}"/></td>
        </tr>
        <tr>
            <td><b>Mobile:</b></td>
            <td><input class="form-control"  type="text" name="entry[mobile]" required value="{$data.mobile}"/></td>
        </tr>
        <tr>
            <td><b>Pin:</b></td>
            <td><input class="form-control"  type="text" name="entry[pincode]" value="{$data.pincode}"/></td>
        </tr>
        <tr>
            <td><b>Location:</b></td>
            <td><input class="form-control"  type="text" name="entry[location]" value="{$data.location}"/></td>
        </tr>
        <tr>
            <td><b>GSTIN:</b></td>
            <td><input class="form-control"  type="text" name="entry[gstin]" value="{$data.gstin}"/></td>
        </tr>
        <tr>
            <td><b>Pan:</b></td>
            <td><input class="form-control"  type="text" name="entry[panno]" value="{$data.panno}"/></td>
        </tr>
        <tr>
            <td><b>Adhar:</b></td>
            <td><input class="form-control"  type="text" name="entry[adhar]" value="{$data.adhar}"/></td>
        </tr>
        <tr>
            <td colspan="1">
                <input class="form-control"  type="hidden" id="hide" name="id" value="{$data.id_party}">
                <input class="form-control btn btn-primary"  type="submit" value="Save" />
            </td>
        </tr>
    </table>
</form>