<h3>
    Profile<hr>
</h3>
<table class="table-bordered">
    <tr>
        <th>Name : </th><td>{$list.0.name}</td>
    </tr>
    <tr>
        <th>Address : </th><td>{$list.0.address1}</td>
    </tr>
    <tr>
        <th>Address : </th><td>{$list.0.address2}</td>
    </tr>
    <tr>
        <th>Pin : </th><td>{$list.0.pincode}</td>
    </tr>
    <tr>
        <th>State : </th><td>{$list.0.state}</td>
    </tr>
    <tr>
        <th>Mobile : </th><td>{$list.0.mobile}</td>
    </tr>
    <tr>
        <th>Person : </th><td>{$list.0.contact_person}</td>
    </tr>
    <tr>
        <th>Email : </th><td>{$list.0.email}</td>
    </tr>
    <tr>
        <th>Gstin : </th><td>{$list.0.gstin}</td>
    </tr>
    <tr>
        <th>Panno : </th><td>{$list.0.panno}</td>
    </tr>
    <tr>
        <th>Adhar : </th><td>{$list.0.adhar}</td>
    </tr>
</table>