<!-- Page Wrapper -->
<div id="wrapper">
    {if isset($smarty.session.id_user)}
        {include file="common/sidebar.tpl.html"}
    {/if}    
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            {include file="common/topbar.tpl.html"}
            <!-- Begin Page Content -->
            <div class="container-fluid">
                {if $page!=""}
                <div class="row">
                    <div class="bg-secondary" class="col">{include file="addon/language.tpl.html"}</div>
                    <div class="col">{include file=$page}</div>
                    <div class="bg-primary" class="col">{include file="addon/ads.tpl.html"}</div>
                </div>


                {/if}
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        {include file="common/footer.tpl.html"}
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->