<!-- Page Wrapper -->
<div id="wrapper">
    {if isset($smarty.session.id_user)}
        {include file="common/sidebar.tpl.html"}
    {/if}    
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            {include file="common/topbar.tpl.html"}
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="row">
                    {if !$smarty.session.is_admin}
                        <div class="sidebars">
                            {include file="common/usersite/left_sidebar.tpl.html"}
                        </div>
                    {/if}
                    {if $page!=""}
                        <div class="col">
                            <div class="err_msg"><b>{$smarty.session.msg}</b></div>
                            {get_page module="web" func="category"}
                            {include file=$page}
                        </div>
                    {else}
                        This page is coming up.
                    {/if}
                    {if !$smarty.session.is_admin}
                        <div class="sidebars">
                            {include file="common/usersite/right_sidebar.tpl.html"}
                        </div>
                    {/if}
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <footer class="sticky-footer text-center m-0 p-0 bg-white">
            <span>Copyright &copy; quizstation.in 2022-23</span>
        </footer>
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<style>
    .sticky-footer {
      position: fixed;
      bottom: 0px;
      width: 100%;
    }
    html, body {
        margin: 0px;
        padding: 0px;
    }
    .sidebars {
        height: 600px;
        background-color: #D3D3D3;
        width: 15%;
    }
</style>