<!-- Sidebar -->
{if $smarty.session.is_admin==1}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.php">
        <div class="sidebar-brand-icon rotate-n-15">
            Home
        </div>
        <div class="sidebar-brand-text mx-3">QuizStation</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="index.php?module=dashboard&func=show">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="index.php?module=language&func=listing" aria-expanded="true">
            <i class="fa fa-language"></i>
            <span>Language</span>
        </a>
        <a class="nav-link" href="index.php?module=category&func=listing" aria-expanded="true">
            <i class="fas fa-fw fa-cog"></i>
            <span>Category</span>
        </a>
        <a class="nav-link" href="index.php?module=question&func=listing" aria-expanded="true">
            <i class="fas fa-fw fa-cog"></i>
            <span>Question</span>
        </a>
        <a class="nav-link" href="index.php?module=question&func=upload" aria-expanded="true">
            <i class="fas fa-fw fa-cog"></i>
            <span>Upload Question</span>
        </a>
    </li>
    <!-- Nav Item - Pages Collapse Menu -->
    <!-- <li class="nav-item">
        <a class="nav-link" href="index.php?module=report&func=search" aria-expanded="true">
            <i class="fas fa-list"></i>
            <span>Search</span>
        </a>
    </li> -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt text-gray-400"></i>
            <span>Logout</span></a>
    </li>
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->
{/if}