<div class="cnt clearfix  navbar-expand bg-primary ">
    <div class="item">
        <ul class="navbar-nav ml-auto">
                <a href="index.php?social" class="btn btn-info rounded-circle">Social Jagat</a>
                <a href="index.php?language" class="btn btn-info rounded-circle">Languages</a>
                <a href="index.php?marketplace" class="btn btn-info rounded-circle">Marketplace</a>
                <a href="index.php?leaderboard" class="btn btn-info rounded-circle">Leaderboard</a>
        </ul>
    </div>
    <div class="item">
        <form action="index.php?search">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="item">
        <div class="float-right">
            <a href="index.php?signup" class="btn btn-info rounded-circle">Signup</a>
            <a href="index.php?login" class="btn btn-info rounded-circle">Signin</a>
        </div>
    </div>
</div>
<div class="cnt">
    <div class="item">
        <a href="index.php?Trending" class="btn btn-info rounded-circle">Social Jagat</a>
    </div>
    <div class="item">
        <a href="index.php?Sports" class="btn btn-info rounded-circle">Languages</a>
    </div>
    <div class="item">
        <a href="index.php?Gaming" class="btn btn-info rounded-circle">Marketplace</a>
    </div>
    <div class="item">
        <a href="index.php?Education" class="btn btn-info rounded-circle">Education</a>
    </div>
    <div class="item">
        <a href="index.php?Music" class="btn btn-info rounded-circle">Music</a>
    </div>
</div>

<style>
.item { 
  flex: 1; 
  margin: 0 1%;
  text-align: center;
}
.cnt { 
  display: flex;   
  padding: 0 1%;
}
</style>