{if !$smarty.session.is_admin}
<div class="cnt clearfix  navbar-expand bg-primary ">
    <div class="item">
        <ul class="navbar-nav ml-auto">
            <!-- <a href="index.php" class="btn btn-info rounded-circle">Home</a> -->
            <a href="index.php?page=Trending" class="btn btn-info rounded-circle">Trending</a>
            <a href="index.php?page=social" class="btn btn-info rounded-circle">Social Jagat</a>
            <a href="index.php?page=marketplace" class="btn btn-info rounded-circle">Marketplace</a>
            <a href="index.php?page=leaderboard" class="btn btn-info rounded-circle">Leaderboard</a>
            {get_page module="web" func="language"}
        </ul>
    </div>
    <div class="item">
        <form action="index.php?page=search">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="item">
        <div class="float-right">
            <a href="index.php?page=signup" class="btn btn-info rounded-circle">Signup</a>
            <a href="index.php?module=user&func=setsess" class="btn btn-info rounded-circle">Signin</a>
        </div>
    </div>
</div>
{get_page module="web" func="category"}
<style>
.item { 
  flex: 1; 
  margin: 0 1%;
  text-align: center;
}
.cnt { 
  display: flex;   
  padding: 0 1%;
}
</style>
{/if}