<h3>
    Stock Register<hr>
</h3>
<fieldset>
    <form method="post">
        <table>
            <tr>
                <td>Start</td>
                <td><input type="date" id="start_date" name="start_date" size="9" placeholder="dd-mm-yyyy" value='{$smarty.request.start_date}' /></td>
                <td>End</td>
                <td><input type="date" id="end_date" name="end_date" size="9"  placeholder="dd-mm-yyyy" value='{$smarty.request.end_date}' /></td>
                <td colspan="4" align="center">
                    <input type="submit" value="Go" />
                    <input type="button" class="print" value="Print" />
                    <input type="hidden" id="excelfile" value="StockStatement" />
                    <input type="button" class="excel" value="Download" title="Download as Excel" />
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<div class="print_content">
    {$smarty.session.cname} {$smarty.session.fyear}<br>
    Stock Register Period
    {$smarty.request.start_date|date_format:"%d/%m/%Y"} - {$smarty.request.end_date|date_format:"%d/%m/%Y"}
    {if $list}
    <table border="1">
        <thead>
        <tr>
            <th>Date</th><th>Particulars</th><th>Ref.No.</th><th class="right">Stock-In</th><th class="right">Stock-Out</th><th class="right">Balance</th>
        </tr>
        </thead>
        <tbody>
            {foreach from=$list item=mod}
                {if $trans[$mod.id_product]}
                    <tr><td colspan="7">&nbsp;</td></tr>
                    <tr><td colspan="7">Item Name : <b>{$mod.name}</b></td></tr>
                    {$bal = $mod.open}
                    <tr>
                        <td>&nbsp;</td>
                        <td>Opening Balance</td>
                        <td>&nbsp;</td>
                        <td class="right">{if $mod.open>=0}{$mod.open|string_format:'%.0f'}{else}&nbsp;{/if}</td>
                        <td class="right">{if $mod.open<0}{$mod.open*-1|string_format:'%.0f'}{else}&nbsp;{/if}</td>
                        <td class="right">{$bal|string_format:'%.0f'}</td>
                    </tr>
                    {foreach from=$trans[$mod.id_product] item=m}
                    {$bal = $bal + $m.purc - $m.sale}
                    <tr>
                        <td>{$m.date|date_format:"%d/%m/%Y"}</td>
                        <td>{$m.particulars}</td>
                        <td>{$m.refno}</td>
                        <td class="right">{if $m.purc>0}{$m.purc|string_format:'%.0f'}{else}&nbsp;{/if}</td>
                        <td class="right">{if $m.sale>0}{$m.sale|string_format:'%.0f'}{else}&nbsp;{/if}</td>
                        <td class="right">{$bal|string_format:'%.0f'}</td>
                    </tr>
                    {/foreach}
                {/if}
            {/foreach}
        </tbody>
    </table>    
    {else}
        <br /><b>No Record Found!</b>
    {/if}
</div>