<h3>
    Stock Statement<hr>
</h3>
<fieldset>
    <form method="post">
        <table>
            <tr>
                <td>Start</td>
                <td><input type="date" id="start_date" name="start_date" size="9" placeholder="dd-mm-yyyy" value='{$smarty.request.start_date}' /></td>
                <td>End</td>
                <td><input type="date" id="end_date" name="end_date" size="9"  placeholder="dd-mm-yyyy" value='{$smarty.request.end_date}' /></td>
                <td colspan="4" align="center">
                    <input type="submit" value="Go" />
                    <input type="button" class="print" value="Print" />
                    <input type="hidden" id="excelfile" value="StockStatement" />
                    <input type="button" class="excel" value="Download" title="Download as Excel" />
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<div class="print_content">
    {$smarty.session.cname} {$smarty.session.fyear}<br>
    Stock Statement Period
    {$smarty.request.start_date|date_format:"%d/%m/%Y"} - {$smarty.request.end_date|date_format:"%d/%m/%Y"}
    {if $list}
    <table border="1" id="report">
        <thead>
        <tr>
            <th>Sl.No.</th><th>Company</th><th>Item</th><th class="right">Opening</th><th class="right">Purchase</th><th class="right">Sales</th><th class="right">Closing</th>
        </tr>
        </thead>
        <tbody>
            {$sl=1}
            {foreach from=$list item=mod}
            <tr>
                <td class="right">{$sl++}</td>
                <td>{$mod.cname}</td>
                <td>{$mod.name}</td>
                <td class="right">{$mod.o|string_format:'%.0f'}</td>
                <td class="right">{$mod.p|string_format:'%.0f'}</td>
                <td class="right">{$mod.s|string_format:'%.0f'}</td>
                <td class="right">{$mod.c|string_format:'%.0f'}</td>
            <t/r>
            {/foreach}
        </tbody>
    </table>
    
    {else}
        <br /><b>No Record Found!</b>
    {/if}
</div>